/* Reset */
*,
*::before,
*::after {
  box-sizing: border-box;
}

body,
h1,
h2,
h3,
h4,
h5,
p,
figure,
picture {
  margin: 0;
}

body {
  line-height: 1.5;
  min-height: 100vh;
}

img,
picture {
  max-width: 100%;
  display: block;
}

input, 
button,
textarea,
select {
  font: inherit;
}

@media (prefers-reduced-motion: reduce) {
  *,
  *::before,
  *::after {
    animation-duration: 0.01ms !important;
    animation-iteration-count: 1 !important;
    transition-duration: 0.01ms !important;
    scroll-behaviour: auto !important;
  }
}

/* Base */
section{}
section figure{}
figure img{}
figure figcaption{}
figure figcaption h2{}
figure figcaption h3{}
/* Layout */

.navegacion ul{
  height: inherit; /*mide lo mismos que mide la nabehación*/
  background-color: cornflowerblue;
  border: 2px solid black;
  width: max-content; /*respeta el tamaño de cada elemento*/
  margin: auto; /*elemento que esta dentro lo deja en el centro, modifica los cuatro lados*/
}


.navegacion ul li {
  display: inline;
  padding: 20px;
}


.contenedor-banner{
  display: flex; /*felxible al tamaño de la pantalla*/
  flex-direction: row-reverse;
}


.contenedor h2 {
  text-align: center;
}
.contenedor-banner div{
  padding: 10px;
  flex: 1;
}
.contenedor-banner img{
    flex: 1;
  width: 400px;
  height: 225px;
  object-fit:cover;
}

/* Componentes */

/* Utilidades */