/* Imports & supports */
@import url('https://fonts.googleapis.com/css2?family=Anton&display=swap');
/* Reset & Base */
*,
*::before,
*::after {
  box-sizing: border-box
}
body,
h1,
h2,
h3,
h4,
h5,
p,
figure,
picture {
  margin: 0
}
body {
  line-height: 1.5;
  min-height: 100vh
}
ul {
  margin: 0;
  padding-inline: 0
}
li {
  list-style: none
}
a {
  text-decoration: none
}
img,
picture {
  max-width: 100%;
  display: block;




}
@media (prefers-reduced-motion: reduce) {
  *,
  *::before,
  *::after {
    animation-duration: 0.01ms !important;
    animation-iteration-count: 1 !important;
    transition-duration: 0.01ms !important;
    scroll-behavior: auto !important
  }
}
/* Variables */
:root {
  /* colores */
  /*   --clr-dark: 230 35% 7%;
  --clr-light: 231 77% 90%;
  --clr-white: 0 0% 100%; */
  /* tipografia */
  --f-family: 'ANTON';
  --f-size:10px;
  --f-weight: 400;
}
/* Aplica estas variables a todos los elementos */
* {

  font-family: var(--f-family);
  font-size: var(--f-size);
  font-weight: var(--f-weight)
}
/* Componentes */
/* Utilidades */
.flex {
  display: flex
}
.grid {
  display: grid
}

.contenedor {
  width: 100vw;
  height: 100vh;
  height: 1080px;
  display: flex;
  flex-direction: column;
  place-items: center;
  justify-content: flex-end;
  align-items: center;
   background-image: url("./atardecer.jpg");
  background-size: cover;
  display: flex;
  justify-content: center;
  align-items: center;
}
.contenedor h2 {
   --f-size:60px;
  color: rgb(255, 255, 255);
    padding: 10px;

}
.contenedor p {
   --f-size:10px;
   color: rgb(255, 255, 255);
   padding: 10px;
}
.foto{
 display: grid;
 border: 3px solid rgb(240, 226, 233);
 border-radius: 1rem;
 overflow: hidden;

}
.foto .caja {
position: relative;
width: 100%;
height:100% ;
padding-top: 100%;

}
.foto .caja img{
position: absolute;
 width: 400%;
 top: 0;
  object-fit: cover;

}
.foto figcaption {


}
